:root{
    --cor-principal:#377252;
    --fundo:#f7f8f2;
    --preto:#2C3E2D;
    --branco:#fff;
    --cinza:#6E6E6E;
    --cinza-claro:#E1E1E1;
    --vermelho:#df6659;
    --vermelho-claro:#f8eae6;
    --verde:#397758;
    --verde-claro:#eaf2e4;

}