* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #f7f8f2;
    color: #111;
}

nav img{
    width: 24px;
    filter: brightness(0) invert(1);
}

/* =========================
   CONTAINER PRINCIPAL
========================= */

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 52px 25px 80px;
}


/* =========================
   CARDS
========================= */

.dados {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 52px;
}

.card {
    width: 31%;
    min-height: 168px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 20px;

    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.14);
}

.card-vermelho {
    background-color: #f8eae6;
}

.card-cinza {
    background-color: #eef0eb;
}

.card-verde {
    background-color: #eaf2e4;
}


/* =========================
   ÍCONES
========================= */

.icone {
    width: 56px;
    height: 56px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: bold;

    margin-bottom: 15px;
}

.card-vermelho .icone {
    background-color: #f7dcd6;
    color: #df6659;
}

.card-cinza .icone {
    background-color: #dce7dc;
    color: #397758;
}

.card-verde .icone {
    background-color: #dcebd2;
    color: #72ad62;
}


/* =========================
   NÚMEROS DOS CARDS
========================= */

.card h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 12px;
}

.card p {
    max-width: 280px;
    font-size: 13px;
    line-height: 1.5;
    color: #555;
}


/* =========================
   SEÇÃO IMPACTO
========================= */

.impacto {
    background-color: white;
    border-radius: 15px;

    padding: 55px;

    display: flex;

    /* faz os dois lados terem a mesma altura */
    align-items: stretch;

    gap: 55px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.10);
}


/* =========================
   IMAGEM
========================= */

.imagem {
    width: 48%;
    height: 570px;

    flex-shrink: 0;
    overflow: hidden;
    border-radius: 8px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* =========================
   CONTEÚDO
========================= */

.conteudo {
    flex: 1;
}

.conteudo h1 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 800;

    margin-bottom: 25px;
}

.subtitulo {
    color: #7a9b7e;

    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 28px;
}

.texto {
    font-size: 18px;
    line-height: 1.55;

    margin-bottom: 22px;
}

.conteudo h3 {
    color: #006b2d;

    font-size: 18px;

    margin-bottom: 15px;
}

.conteudo ul {
    padding-left: 22px;
}

.conteudo li {
    font-size: 17px;
    line-height: 1.6;

    margin-bottom: 14px;
}


/* =========================
   RESPONSIVIDADE
========================= */

@media (max-width: 850px) {

    main {
        padding: 35px 20px;
    }

    .dados {
        gap: 20px;
    }

    .card {
        width: 33%;
    }

    .impacto {
        flex-direction: column;
        padding: 30px;
        gap: 30px;
    }

    .imagem {
        width: 100%;
        height: 350px;
    }

    .conteudo {
        max-width: 100%;
    }
}


@media (max-width: 600px) {

    .dados {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .impacto {
        padding: 20px;
    }

    .imagem {
        height: 300px;
    }

    .conteudo h1 {
        font-size: 19px;
    }

    .texto {
        font-size: 14px;
    }
}