@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@300;400;500;600;700&display=swap');

.hero{
    max-width: 1200px;

    margin: auto;
    padding: 80px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 50px;
}

.texto{
    flex: 1;
}

.texto h3{
    font-size: 3rem;
    color: var(--cor-principal);
}

.texto h2{
    font-size: 4rem;
    color:var(--preto);
}

.texto p{
    max-width: 500px;
    margin-top: 25px;

    color:var(--cinza) ;
}

.botoes{
    display: flex;
    gap: 15px;

    margin-top: 30px;
}

.botoes button{
    width: fit-content;
    padding: 12px 25px;
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms ease;
}
.btn-verde{
    background:var(--cor-principal);
    color: var(--fundo);
}
.btn-verde:hover{
    background:var(--cinza-claro);
    border-color: var(--cor-principal);
    color: var(--cor-principal);
}

.btn-cinza{
    background: var(--cinza-claro);
}
.btn-cinza:hover{
    border-color: var(--cor-principal);
}

.imagem img{
    width: 500px;
    border-radius: 15px;
}

/* TABLETS */

@media (max-width: 1024px){
    .hero{
        padding: 60px 20px;
        gap: 30px;
    }

    .texto h2{
        font-size: 3rem;
    }

    .texto h3{
        font-size: 2.5rem;
    }

    .imagem img{
        width: 400px;
        max-width: 100%;
    }
}

/* CELULARES */

@media (max-width: 768px){
    .hero{
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        text-align: center;

        padding: 40px 20px;
    }

    .texto p{
        max-width: 100%;
    }

    .botoes{
        justify-content: center;
        flex-wrap: wrap;
    }

    .texto h2{
        font-size: 2.8rem;
    }

    .texto h3{
        font-size: 2rem;
    }

    .imagem img{
        width: 100%;
        max-width: 450px;
    }
}

/* CELULARES PEQUENOS */

@media (max-width: 480px){
    main{
        max-width: 95%;
    }

    .texto h2{
        font-size: 2.2rem;
    }

    .texto h3{
        font-size: 1.5rem;
    }

    .texto p{
        font-size: 0.95rem;
    }

    .btn-verde,
    .btn-cinza{
        width: 100%;
    }
}